.centered {
    text-align: center;
}

.panel-heading {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top : 0;
}

.logo_branding {
    display: flex;
    margin-bottom: 20px;
    padding: 20px 0px;
}

.logo_link {
    padding-right: 30px;
    margin-right: 30px;
    border-right: 1px solid grey;
}

.logo_title {
    max-width: 500px;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.form-check {
    display: flex;
    justify-content: space-around;
}

.search-results {
    display: flex;
    flex-direction: row;
}

/* ##### AUTOCOMPLETE ##### */
.ui-helper-hidden-accessible {
    display: none;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

/*body {
    min-height: 100vh;
    margin:0;
    padding:0;
    -webkit-background-size: cover;
    background-size: cover;
    background: url(../images/background.jpg) no-repeat center center scroll;
}

.panel-transparent {
    background: none;
    border: none;
}

.panel-transparent .panel-heading{
    background: rgba(255, 255, 255, 0.5)!important;
}

.panel-transparent .panel-body{
    background: rgba(255, 255, 255, 0.5)!important;
}

.panel-invisible {
    background: rgba(255, 255, 255, 0)!important;
    border: none;
}*/