{% extends 'layout/layout.twig' %}

{% block content %}
    {{ parent() }}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">

                    <div class="panel-body">
                        {% include 'application/commons/search-form.twig' with {'sports' : sports} %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}