{% extends 'layout/layout.twig' %}

{% block content %}
    {{ parent() }}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% include 'application/commons/search-form.twig' with {'sports' : sports} %}
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% if results is not empty %}

                            <div class="search-results">

                                {% for result in results %}
                                    <div class="col-sm-6 col-md-4">
                                        <div class="thumbnail">
                                            <img src="..." alt="...">
                                            <div class="caption">
                                                <h3>Thumbnail label</h3>
                                                <p>...</p>
                                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>


                        {% else %}

                            <h2>Je n’ai rien trouvé pour votre recherche</h2>
                            <p>
                                Mais pas de panique,<br/>
                                réessayez en précisant ou reformulant votre recherche.
                            </p>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}