{% extends 'layout/layout.twig' %}

{% block content %}
    {{ parent() }}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h4><a href="{{ url('user') }}"><i class="fas fa-chevron-left"></i> Espace utilisateur</a></h4>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Horaires d'ouverture - {{ establishment.name }}</h2>

                        {% include 'application/commons/calendar.twig' with {
                            'establishmentCrenelsMappedByDays'  : establishmentCrenelsMappedByDays,
                            'days'                              : days,
                        } %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}